#myName {
  font-size: 32px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.topthreeparagraphs {
  color: black;
  font-weight: 600;
}

img {
  width: 150px;
  height: 400px;
}

#firstfav {
  font-size: 30px;
  font-weight: 700;
  color: green;
  text-align: center;
}

#secondfav {
  font-size: 30px;
  font-weight: 700;
  color: green;
  text-align: center;
}

#thirdfav {
  font-size: 30px;
  font-weight: 700;
  color: green;
  text-align: center;
}

#fourthfav {
  font-size: 30px;
  font-weight: 700;
  color: green;
  text-align: center;
}

#quotes {
  font-weight: bold;
  text-align: center;
}

#firstquote {
  color: dark blue;
  font-size: 18px;
  font-family: "Times New Roman"
}

#secondquote {
  color: dark blue;
  font-size: 18px;
  font-family: "Times New Roman"
}

#thirdquote {
  color: dark blue;
  font-size: 18px;
  font-family: "Times New Roman"
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5yxE3gw7U6qeSnA9k7-oOIYLTR7e1eF_coYcMpkZOP6y39pStDA');
  background-size: cover;
  height: 700px;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 30px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 30px;
  height: 30px;
}
